includes:
parameters:
   level: 7
   paths:
       - src
   ignoreErrors:
    - '#is never written, only read\.$#'
    - '#Property .* is never assigned .* so it can be removed from the property type\.#'
